S3method("!=",RV)
S3method("+",RV)
S3method("-",RV)
S3method("<",RV)
S3method("<=",RV)
S3method("==",RV)
S3method(">",RV)
S3method(">=",RV)
S3method(plot,RV)
S3method(print,RV)
export(E)
export(Kurt)
export(P)
export(Skew)
export(SofI)
export(SofIID)
export(Var)
export(as.RV)
export(is.RV)
export(make.RV)
export(probs)
export(values)
